
@inherits LayoutComponentBase

<div class="d-flex flex-column h-100" >
	<!--Top nav-->
	<TopNavManu/>   <!--top nav bar ek hama page ekatam podu nisa ekawenam component ekak widihata hadala
    meke call kranawa  -->

	<!-- Main -->
	<main class="flex-grow-1">
		@Body
	</main>


	<!-- Footer-->
	<footer class="flex-shrink-0">
        <Footer/>
    </footer>
 

</div>

@code {

}
